.App {
  text-align: center;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}

header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

header > a:hover {
  text-decoration: underline;
}
